<div  ng-controller="transactionCtrl">
    <ion-header-bar>
        <i class="icon ion-chevron-left header_left" ng-click="backWard()"></i>
        <h1 class="title">{{wallet.walletName}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="text-center cent">
            <img ng-src="http://p-dais.oss-cn-hangzhou.aliyuncs.com{{wallet.coinLogo}}">
            <div class="kDetail"><span>{{wallet.ftotal}}</span>{{wallet.walletName}}</div>
        </div>
        <div class="content">
            <h4>最近交易记录</h4>
            <table class="transaction" style="width:100%" border="1" >

                <tbody ng-repeat="operation in operationList">
                <tr ng-click="showDetail({{operation.fid}})">
                    <td>{{operation.fcreatetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        {{operation.ftype == 1 ? "+"+operation.famount : "-"+operation.famount}}
                        {{wallet.walletName}}
                    </td>
                    <td>{{operation.fconfirmations}}</td>
                </tr>
                </tbody>
            </table>
        </div>
</ion-content>        <div class="detail">交易记录</div>
    </ion-content>
    <ion-footer-bar>
        <div class="btn bar bar-footer">
            <button class="button button-energized  ion-arrow-up-a btn1" ng-click="transaction()">转账</button>
            <button class="button button-dark  ion-arrow-down-a btn2" ng-click="receive()">收款</button>
        </div>
    </ion-footer-bar>
</div>