
<ion-header-bar>
    <i class="icon ion-chevron-left header_left" ng-click="backWard()"></i>
    <h1 class="title">找回登录密码</h1>
</ion-header-bar>
<ion-content ng-controller="resetPasswordCtrl">
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <span>+86</span>
            <input type="text" placeholder="请输入手机号码"ng-model="phone">
        </label>
        <button ng-click="verification()">获取验证码</button>
    </div>
    <label class="item item-input">
        <input type="text" placeholder="请输入验证码" ng-model="authCode">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="请输入新密码" ng-model="newPassword" >
    </label>
    <label class="item item-input">
        <input type="password" placeholder="确认密码" ng-model="repeatPassword">
    </label>
    <button class="button button-block button-dark" ng-click="resetPassword()">
        找回登录密码
    </button>
</ion-content>
