<ion-header-bar>
    <i class="icon ion-chevron-left header_left"></i>
    <h1 class="title">设置交易密码</h1>
</ion-header-bar>
<ion-content ng-controller="resetPasswordCtrl">
    <label class="item item-input">
        <input type="password" placeholder="请输入新交易密码" ng-model="tradePassword" >
    </label>
    <label class="item item-input">
        <input type="password" placeholder="确认密码" ng-model="repeatPassword">
    </label>
    <button class="button button-block button-dark" ng-click="setTradePassword()">
        找回登录密码
    </button>
</ion-content>